<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>BTC Value</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Currency</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Amount</td>
                <td th:text="${currency}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>